<div class="container">
  <div>
      <h1>Add User</h1>
  </div>
  <form >
      <div class="col-sm-4 col-md-4 col-lg-4" >
          <label >Nom </label>
          <input type="text"[(ngModel)]= "user.nom" name="nom" class="form-control">
   </div>
   <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Prénom</label>
    <input type="text"[(ngModel)]= "user.prenom" name="prenom" class="form-control">
</div>
<div class="col-sm-4 col-md-4 col-lg-4" >
  <label >Poste </label>
  <input type="text"[(ngModel)]= "user.poste" name="poste" class="form-control">
</div>
<div class="col-sm-4 col-md-4 col-lg-4" >
  <label >Expérience </label>
  <input type="text"[(ngModel)]= "user.experience" name="experience" class="form-control">
</div>
<div class="col-sm-4 col-md-4 col-lg-4" >
  <label >Type de contrat</label>
  <input type="text"[(ngModel)]= "user.type_contrat" name="type_contrat" class="form-control">
</div>

  <div class="col-sm-4 col-md-4 col-lg-4">
          <label >Date d'entrée</label>
          <input type="date" [(ngModel)]= "user.date_entree" name="date_entree" class="form-control">
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Stack Principale</label>
    <input type="text"[(ngModel)]= "user.stack_principale" name="stack_principale" class="form-control">
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Stack Secondaire</label>
    <input type="text"[(ngModel)]= "user.stack_secondaire" name="stack_secondaire" class="form-control">
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Email </label>
    <input type="text"[(ngModel)]= "user.email" name="email" class="form-control">
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Password </label>
    <input type="text"[(ngModel)]= "user.password" name="password" class="form-control">
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4" >
    <label >Role </label>
    <input type="text"[(ngModel)]= "user.role" name="role" class="form-control">
  </div>
  <div class="mt-2">
  <button type="submit" (click)="addUser()" class="btn btn-success">Ajouter</button>
    <div>
      <h3>{{ message }}</h3>
    </div>
  </div>

  </form>
  </div>
