<div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <button type="button" class="card-title" class="btn btn-success" routerLink="/addProj"> +Add Project</button>
        <div class="card-tools">
          <ul class="pagination pagination-sm float-right">
            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
          </ul>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table class="table">
          <thead>
            <tr>
              <th>Titre de Projet</th>
              <th>Chef de projet</th>
              <th>Budget</th>
              <th>Date début</th>
              <th>Date fin</th>
              <th>Agents</th>
            </tr>
          </thead>
          <tbody  >

          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>

